<p>Hey,</p>
<p>Please use the code below to reset your password.</p>
<p>
    here is your code: <strong><%= locals.code %></strong>
</p>

<p>If you did not request this email you can safely ignore it.</p>